:root{
	--color: #F26B38;
	--color2: rgba(241, 107, 61, .92);
	--color3: #999999;
	--color4: #31313A;
}
.green{background: #47A846;}
.grey{background: #6C757D;}
.blue{background: #087afc;}
.yellow{background: #FFC22B;}
.red{background: #DC3E45;}
.purple{background: #4D388C;}
.orange{background: #F86D26;}
.brown{background: #4F342E;}
.lime{background: #827717;}
	/* 
	green - rgba(71, 168, 70, .92)
	grey - rgba(108, 117, 125, .92)
	blue - rgba(8, 122, 252, .92)
	yellow - rgba(255, 194, 43, .92)
	red - rgba(220, 62, 69, .92)
	purple - rgba(77, 56, 140, .92)
	orange - rgba(248, 109, 38, .92)
	brown - rgba(79, 52, 46, .92)
	lime - rgba(130, 119, 23, .92)
	*/

/****************************************************************************************************************************/

/* Color palette styles */
.color-palette{
	position: fixed;
	width: 150px;
	top: 150px;
	right: -155px;
	background: #26262D;
	padding: 10px 20px;
	margin: 20px;
	border-radius: 10px 0 0 10px;
	transition: 1s ease all;
}
.palette-cog{
	position: absolute;
	left: -45px;
	top: 30px;
	font-size: 25px;
	background: #26262D;
	padding: 5px 15px 5px 5px;
	border-radius: 5px 0 0 5px;
}.palette-cog i{
	cursor: pointer;
	-webkit-animation: fa-spin 3s infinite linear;
	animation: fa-spin 3s infinite linear;
}

.palette-colors h3{
	font-weight: bold;
	font-size: 15px;
}

.palette-colors{
	margin-top: 7px;
}
.palette-colors ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.palette-colors li{
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 5px 5px 5px 0;
	cursor: pointer;
}
.current-color:before{
	content: '';
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	left: -3px;
	top: -3px;
	border: 2px solid var(--color);
}

/* Toggle menu */
.active-palette{
	right: -5px;
}


/* Skin transition */
.skin-background{
	transition: .4s ease-in-out;
}