@import url('palette.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-decoration: none !important;
}

body {
	line-height: 1;
	font-family: 'Roboto Mono' !important;
	background-color: #26262D !important;
}
/* Variables */
:root{
	--gray: #999999;
	--white: #f0f0f0;
	--black: #31313A;
}

/* Main styles */

.wrapper{
	margin: 30px;
	position: fixed;
	background: #31313A;
	color: var(--white);
	height: calc(100% - 60px);
	width: calc(100% - 60px);
	font-size: 13px;
	overflow: auto;
	padding-bottom: 60px;
	scrollbar-width: none;
}

/* Header */
header{
	position: fixed;
	margin-top: 30px;
	padding: 30px 30px 10px 30px;
	width: calc(100vw - 60px);
	z-index: 99;
	top: 0;
	background: var(--black);
}
.header, .footer{
	display: flex;
	justify-content: space-between;
}
.logo img{
	filter: brightness(0) invert(1);
}

.mobile-menu{
	display: none;
	font-size: 20px;
	line-height: 0;
	color: var(--white);
	transition: .4s ease;
}.mobile-menu:hover{
	color: var(--color);
}
.menu-nav ul{
	display: flex;
}
.menu-nav li{
	margin-left: 42px;
}
.menu-nav a, .nav-pages a{
	color: #fff;
	transition: .4s;
}.menu-nav a:hover, .nav-pages a:hover{
	color: var(--color);
}

.nav-active{
	color: var(--color) !important;
}



*::-webkit-scrollbar {
	width: 0px;
  }




/* Footer */
footer{
	position: fixed;
	bottom: 0;
	padding: 30px 30px 10px 30px;
	width: calc(100vw - 60px);
	z-index: 99;
	background: var(--black);
	margin-bottom: 30px;
}
.copy p{
	font-size: 11px;
	color: var(--color3);
}

.soc a{
	margin-left: 10px;
	transition: .4s;
	color: var(--white);
}.soc a:hover{
	color: var(--color);
}











.mouse-btn{
	position: absolute;
	bottom: 15%;
	right: 49%;
	color: var(--color);
	cursor: default;
}.mouse-btn:hover{
	color: var(--color);
}
.mouse-btn svg{
	width: 15px;
}

.home-page .started-content , .contact-page .started-content{
	height: auto;
}


/* Started content */
.started-content{
	text-align: center;
	padding-top: 35vh;
	padding-bottom: 20vh;
	height: 100vh;
}
.started-content .nav-pages{
	color: var(--gray);
}

.started-content h1{
	font-size: 68px;
}

#typing{
	margin-top: 5px;
}
#typing span{
	color: var(--color3);
}

.glitch {
	position: relative;
	margin: 0 auto;
	color: #fff;
	font-size: 80px;
	font-family: 'Roboto Mono';
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	transform: scale3d(1, 1, 1);
}

.glitch::before, .glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: #31313A;
	color: #fff;
	clip: rect(0, 900px, 0, 0);
}

.glitch::before {
	left: 7px;
	text-shadow: 1px 0 green;
	animation: glitch-effect 3s infinite linear alternate-reverse;
}

.glitch::after {
	left: 3px;
	text-shadow: -1px 0 red;
	animation: glitch-effect 2s infinite linear alternate-reverse;
}

@keyframes glitch-effect {
	0% {
		clip: rect(23px, 9999px, 27px, 0);
	}

	5% {
		clip: rect(18px, 9999px, 22px, 0);
	}

	10% {
		clip: rect(12px, 9999px, 18px, 0);
	}

	15% {
		clip: rect(48px, 9999px, 15px, 0);
	}

	20% {
		clip: rect(36px, 9999px, 21px, 0);
	}

	25% {
		clip: rect(26px, 9999px, 19px, 0);
	}

	30% {
		clip: rect(27px, 9999px, 37px, 0);
	}

	35% {
		clip: rect(100px, 9999px, 51px, 0);
	}

	40% {
		clip: rect(53px, 9999px, 97px, 0);
	}

	45% {
		clip: rect(97px, 9999px, 43px, 0);
	}

	50% {
		clip: rect(95px, 9999px, 39px, 0);
	}

	55% {
		clip: rect(2px, 9999px, 73px, 0);
	}

	60% {
		clip: rect(58px, 9999px, 33px, 0);
	}

	65% {
		clip: rect(81px, 9999px, 78px, 0);
	}

	70% {
		clip: rect(15px, 9999px, 34px, 0);
	}

	75% {
		clip: rect(26px, 9999px, 90px, 0);
	}

	80% {
		clip: rect(66px, 9999px, 90px, 0);
	}

	85% {
		clip: rect(85px, 9999px, 11px, 0);
	}

	90% {
		clip: rect(9px, 9999px, 31px, 0);
	}

	95% {
		clip: rect(74px, 9999px, 97px, 0);
	}

	100% {
		clip: rect(55px, 9999px, 83px, 0);
	}
}

/* Text Glitch */
.glitch-link {
	display: inline-block;
	position: relative;
	background: none;
	border: none;
	outline: none;
	color: var(--white);
	cursor: pointer;
	margin-top: 10px;
	padding: 10px 30px;
	font-size: 10px;
	letter-spacing: 0.35em;
	text-align: center;
	border: 1px solid var(--white);
	transition: all 0.2s ease;
	margin: 0 auto;
}
.glitch-link:before, .glitch-link:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 0;
	width: 100%;
	-webkit-clip: rect(0px, 0px, 0px, 0px);
	clip: rect(0px, 0px, 0px, 0px);
	background: var(--color);;
	color: var(--white);;
}

.category-link:before, .category-link:after {content: 'View Project';}
.about-desc a:before, .about-desc a:after {content: 'Dowload CV';}
.pricing-item .basic:before, .pricing-item .basic:after{content: 'Buy Basic';}
.pricing-item .popular:before, .pricing-item .popular:after{content: 'Buy Popular';}
.pricing-item .ultimate:before, .pricing-item .ultimate:after{content: 'Buy Ultimate';}

.glitch-link:before {
	left: -3px;
	top: -2px;
	text-shadow: 2px 0 var(--color);
	box-shadow: 2px 0 var(--color);
}
.glitch-link:after {
	left: 2px;
	bottom: -2px;
	text-shadow: -1px 0 var(--color);
	box-shadow: -1px 0 var(--color);
}
.glitch-link:hover {
	background: var(--color);
	color: var(--white);
	border: var(--color);
}

.fill-glitch{
	background: var(--color);
	border: var(--color);
}

.glitch-link:hover:before {
	animation: glitch-test 1.5s infinite linear alternate-reverse;
}
.glitch-link:hover:after {
	animation: glitch-test 2s infinite linear alternate;
}
@keyframes glitch-test {
	0% {
		clip: rect(-3px, 600px, 0px, 0px);
   }
	5.88235% {
		clip: rect(0px, 600px, 0px, 0px);
   }
	11.76471% {
		clip: rect(-3px, 600px, 0px, 0px);
   }
	17.64706% {
		clip: rect(-3px, 600px, 0px, 0px);
   }
	23.52941% {
		clip: rect(100px, 600px, 100px, 0px);
   }
	29.41176% {
		clip: rect(0px, 600px, 600px, 0px);
   }
	35.29412% {
		clip: rect(100px, 600px, 0px, 0px);
   }
	41.17647% {
		clip: rect(0px, 600px, 600px, 0px);
   }
	47.05882% {
		clip: rect(100px, 600px, 0px, 0px);
   }
	52.94118% {
		clip: rect(-3px, 600px, 0px, 0px);
   }
	58.82353% {
		clip: rect(100px, 450px, 100px, 0px);
   }
	64.70588% {
		clip: rect(0px, 450px, 0px, 0px);
   }
	70.58824% {
		clip: rect(100px, 450px, 100px, 0px);
   }
	76.47059% {
		clip: rect(0px, 450px, 0px, 0px);
   }
	82.35294% {
		clip: rect(0px, 450px, 0px, 0px);
   }
	88.23529% {
		clip: rect(0px, 450px, 0px, 0px);
   }
	94.11765% {
		clip: rect(0px, 450px, 0px, 0px);
   }
	100% {
		clip: rect(0px, 450px, 0px, 0px);
   }
}




.mouse-btn{
	animation-duration: 1s;
	animation-name: slidein;
	animation-iteration-count:infinite;
  }
  
  @keyframes slidein {
	from {
	  margin-bottom: 10px;
	}
  
	to {
	  margin-top: 10px;
	}
  }


/* Isotope styles */
.button {
  text-decoration: none;
	border: none;
	background: none;
	outline: none;
	color: var(--white);

}
.button span{
	margin-right: 30px;
	transition: .4s ease;
}
.button span:hover{
	color: var(--color);
}
.button-group{
	margin-left: 10px;
}
.button:active,
.button.is-checked {
  color: var(--color);
}

.button.is-checked {
  color: var(--color);
}



/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }





/* Portfolio and Blog styles */
.works{
	margin-left: 100px;
}



.grid , .blog-item{
	text-align: center;
}


.element-item , .blog-item{
	padding: 0 20px 40px;
}

.blog-item img{
	width: 100%;
	height: 282px;
	object-fit: cover;
}
.blog-item .date{
	margin: 15px 0;
}
.blog-item .date a{
    padding: 1px 8px;
    height: 20px;
    line-height: 18px;
    font-weight: 500;
    font-size: 11px;
    color: var(--color);
    border: 1px solid var(--color);
}
.blog-item .name{
	text-transform: uppercase;
	color: var(--white);
	font-weight: 600;
	transition: .4s ease all;
}.blog-item .name:hover{
	color: var(--color);
}
.blog-item .description p{
	margin-top: 10px;
}
.element-item img{
	width: 320px;
}

.element-item a{
	display: flex;
	position: relative;
}
.blog-item .image a{
	display: flex;
	position: relative;
}


.element-item a:hover::after , .blog-item .image a:hover::after{
	content: '';
	font-family: 'Font Awesome 5 Pro';
	font-size: 25px;
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	background: var(--color2);
}


.blog-item .image a:hover::after{content: '\f518';}
.images a:hover::after{content: '\f302';}
.video a:hover::after{content: '\f03d';}
.links a:hover::after{content: '\f0c1';}
.music a:hover::after{content: '\f001';}
.element-item.content a:hover::after{content: '+';}

.element-item .desc{
	text-transform: uppercase;
	margin-top: 10px;
	color: var(--white);
}


.desc span{
	position: relative;
	color: var(--gray);
}.desc span::after{
	content: '';
	position: absolute;
	top: 12px;
	left: 0;
	height: 5px;
	width: 100%;
	background: var(--gray);
	opacity: 0.4;
}
.desc p{
	margin-top: 10px;
	font-weight: bold;
	transition: .4s ease;
}.desc p:hover{
	color: var(--color);
}


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}


.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-iframe{
	width: 700px;
	height: 410px;
	padding: 0 20px 0 20px;
}

.mfp-figure{
	position: relative; 
}

.mfp-wrap{
	overflow: hidden auto;
    position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
    z-index: 9999;
	padding: 10px;
	background: rgba(0,0,0,.6);
}

.mfp-close::after{
	content: '\f067';
	font-family: 'Font Awesome 5 Pro';
	font-weight: 100;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	padding: 15px 20px;
	background-color: var(--color4);
	color: var(--white);
	border: none;
}
.mfp-preloader{
	display: none;
}
.mfp-img{
	width: 100%;
}


/* Resume-page styles */
.centered{
	margin: 0 auto;
}
.section{
	margin-top: 100px;
	margin-bottom: 60px;
	color: var(--gray);
}

.section.about{
	margin-top: 0;
}
.about .content{
	display: flex;
}


.section .title{
	display: inline-block;
	position: relative;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--white);
	margin-bottom: 30px;
}.section .title::after{
	content: '';
	position: absolute;
	top: 12px;
	left: 0;
	height: 5px;
	width: 100%;
	background: var(--gray);
	opacity: 0.4;
}

/* ABOUT */
.about-img img{
	width: 100px;
	border-radius: 50%;
}
.about-desc{
	margin-left: 25px;
}.about-desc p{
	line-height: 23px;
}

.info-list{
	margin: 30px 0 30px 0;
}
.info-list ul{
	padding: 0;
}
.info-list span{
	color: var(--color);
}
.info-list li{
	display: inline-block;
	vertical-align: top;
	width: 32%;
	margin: 12px 0 0;
}

/* RESUME */
.resume .cols{
	display: flex;
}

.resume-item{
	position: relative;
	padding: 0 30px 40px;
}
.resume-item:first-child {
    padding-top: 0;
}
.resume-item:last-child:before {
    padding-top: 0;
	margin: 0;
	border: 0;
	background: transparent;
}
.resume-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: var(--color);
}

.resume-item .date{
    position: relative;
    top: -10px;
    margin: 0 0 5px;
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 18px;
    font-weight: 500;
    font-size: 11px;
    color: var(--color);
    border: 1px solid var(--color);
}
.resume-item .date:before {
    content: '';
    width: 29px;
    height: 1px;
    position: absolute;
    left: -30px;
    top: 9px;
    background: var(--color);
}
.resume-item .name {
	font-size: 12px;
    font-weight: 600;
    color: var(--white);
    margin: 0 0 10px;
}

/* SERVICE */
.service-item{
	margin-bottom: 30px;
}
.service-item span{
	color: var(--white);
	font-weight: 600;
	font-size: 12px;
}
.service-item i{
	color: var(--color);
	margin-right: 5px;
	font-size: 15px;
}
.service-item p{
	line-height: 23px;
	margin-top: 10px;
	color: var(--gray);
}

/* PRICING */
.pricing-item{
	text-align: center;
}
.pricing-item i{
	color: var(--color);
	font-size: 20px;
	margin-bottom: 10px;
}
.pricing-item .name{
	font-weight: 600;
	color: var(--white);
}
.pricing-item .amount{
	color: var(--white);
	font-size: 40px;
	font-weight: bold;
	margin: 10px 0;
}
.amount sup{
	left: 15px;
	font-size: 13px;
	top: -15px
}
.amount sub{
	font-weight: 600;
	font-size: 12px;
	right: 15px;
	bottom: 1px
}

.pricing-item{
	margin-bottom: 50px;
}
.pricing-item li{
	margin-bottom: 8px;
}
.pricing-item ul{
	margin-bottom: 30px;
}
.pricing-item .disable{
	text-decoration: line-through !important;
}
.pricing-item .new{
	background: var(--color);
	color: var(--white);
	padding: 0 4px;
	border-radius: 2px;
}

.disable, .nd{
	opacity: .5;
}

/****************************************************************************************************************************/




















/* Media Queries */
@media (max-width: 992px){
	.section{
		padding: 0 0 60px 0;
	}
}
@media (max-width: 990px){
	.works{
		margin-left: 50px;
	}
}

@media (max-width: 900px){
	.resume .cols{
		flex-direction: column;
	}
	.about{
		text-align: center;
		padding-right: 20px;
	}
	.about .content{
		display: flex;
		flex-direction: column;
	}
	.about-desc p{
		margin-top: 20px;
	}
	.info-list ul{
		display: flex;
		flex-direction: column;
	}
	.info-list li{
		width: auto;
	}
}

@media (max-width: 700px){
	.wrapper{
		margin: 15px;
		height: calc(100% - 30px);
		width: calc(100% - 30px);
		padding-bottom: 60px;
	}
	
	header{
		margin-top: 15px;
		width: calc(100vw - 30px);
	}

	footer{
		width: calc(100vw - 30px);
		margin-bottom: 15px;
	}

	.menu-nav{
		position: absolute;
		top: 0;
		left: -200px;
		display: flex;
		padding: 30px;
		height: calc(100vh - 100px);
		background: var(--black);
		z-index: 9;
		box-shadow: 5px 1px 12px -5px rgba(242, 107, 56, 0.33);
		transition: .4s;
		overflow: hidden;
	}
	.menu-nav ul{
		flex-direction: column;
		padding: 0;
	}
	.menu-nav li{
		margin: 0;
		margin-bottom: 20px;
	}
	.mobile-menu{
		display: block;
	}
	.menu-nav.active{
		left: 0;
	}

	.mfp-iframe{
		height: 250px;
		width: 100vw;;
	}

	


}

@media (max-width: 600px){
	.ajax-content{
		width: 400px !important;
	}
}
@media (max-width: 420px){
	.ajax-content{
		width: 300px !important;
	}
}

@media (max-width: 500px){
	.works{
		margin-left: 0;
	}
	.element-item img{
		width: 100%;
	}
	.started-content .glitch{
		font-size: 40px;
	}
	.footer{
		flex-direction: column;
		align-items: center;
	}
}


@media (max-width: 375px){
	.info-list ul{
		text-align: left;
	}
}